.nav-circle {
  border-radius: 50%;
  width: 52px;
  height: 52px;
  opacity: 1;
  padding-left: 1px;
  background: transparent;
  text-align: center;
  font-family: 'EB Garamond', serif;
}

.dark-header {
  background-color: #23283e;
  box-shadow: 1px 1px 10px 1px rgba(215, 215, 215, 0.2);
}

.light-header {
  background-color: #fcfcfc;
  box-shadow: 1px 1px 10px 1px rgba(49, 49, 49, 0.2);
}

.dark-nav-circle {
  border: 2px solid white;
}

.light-nav-circle {
  border: 2px solid rgb(192, 192, 192);
}

@media (max-width: 768px) {
  .header {
    height: 6em;
  }
}
